
#----------------------------------------------
# AFFICHER PAGES SANS EXTENSION
#----------------------------------------------
RewriteEngine on

# Si le nom du fichier + ".php" est un fichier (-f)
RewriteCond  %{REQUEST_FILENAME}.php -f

# Alors, modifier le fichier par fichier.php.  [L] = break... donc fin de htaccess
RewriteRule ^(.*)$ $1.php [L]
#----------------------------------------------

#----------------------------------------------
# ERREURS
#----------------------------------------------
# Accès refusé
ErrorDocument 403 http://localhost/Crispesh/Web/erreur?code=403

# Page inexistante
ErrorDocument 404 http://localhost/Crispesh/Web/erreur?code=404

# Erreur interne
ErrorDocument 500 http://localhost/Crispesh/Web/erreur?code=500
#----------------------------------------------
